<h4>Members</h4>

<div id="member-wrapper">
  <% @members.each do |member| %>

  <div class="member">
    <h3><a href="/member/<%= member.id %>"><%= member.first_name.capitalize %></a></h3>
    <p>Level: <%= member.level.capitalize %></p>
  </div>

  <% end %>
</div>
