<h4>Members</h4>

<div id="member-wrap">
  <% @members.each do |member| %>

    <h3><%= member.full_name %></h3>
    <p>Level: <%= member.level.level_type.capitalize %></p>
    <form action="/members/<%= member.id %>/delete" method="POST">
    <input class="btn" type="submit" value="Delete Member"/></form>

  <% end %>
</div>
