<h4>Members</h4>

<div id="member-wrapper">
  <% @members.each do |member| %>

  <div class="member">
    <h3><%= member.first_name.capitalize %></h3>
    <p>Level: <%= member.level.level.capitalize %></p>
    <form action="/members/<%= member.id %>/delete" method="POST">
    <input type="submit" value="Delete Member"/></form>
  </div>

  <% end %>
</div>
