<!DOCTYPE html>
<html>
<head>
  <link href https://fonts.googleapis.com/css?family=Alegreya|Open+Sans:300,300italic,700)>
  <title>MyStudio</title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">

  <nav>
    <a href="/">Home</a>
    <a href="/yogaclasses">Yoga Classes</a>
    <a href="/yogaclasses/new">Add a new Yoga Class</a>
    <a href="/instructors">Instructors</a>
    <a href="/instructors/new">Add a new instructor</a>
    <a href="/members">Members</a>
    <a href="/members/new">Add a new Member</a>
    <a href="/bookings">Bookings</a>
    <a href="/bookings/new">Add a new Booking</a>
  </nav>
</head>
<body>
  <%= yield %>
</body>
</html>
