<table>
  <tr>
    <th>Booking Number:</th>
    <th></th>
    <th>Member Name:</th>
    <th></th>
    <th>Class Name:</th>
  </tr>
  <%for booking in @bookings %>
  <tr>
    <td> <a href="/bookings/<%= booking.id  %>"><%= booking.id  %></a> </td>
    <td>|</td>
    <td><%= booking.member.first_name  %></td>
    <td>|</td>
    <td><%= booking.yogaclass.name  %></td>
  </tr>
  <% end %>
</table>
