<h4>Bookings</h4>

<div id="booking-wrapper">
  <% @bookings.each do |booking| %>

  <div class="booking">
    <h3><a href="/booking/<%= booking.id %>"><%= booking.id %></a></h3>
    <p>Member: <%= booking.member.first_name %></p>
    <p>Yoga Class: <%= booking.yogaclass.name %></p>
  </div>

  <% end %>
</div>
