<h1> Bookings </h1>
<div id= "booking-wrap">
<table>
  <tr>
    <div class="booking">
    <th>Member Name:</th>
    <th></th>
    <th>Class Name:</th>
    <th></th>
    <th>Update Booking:</th>
  </tr>
  </div>
  <%for booking in @bookings %>
  <tr>
    <td><a href="/bookings/<%= booking.id  %>"><%= booking.member.full_name  %></td>
    <td>|</td>
    <td><%= booking.yogaclass.name.capitalize  %></td>
    <td>|</td>
    <td><a href="/bookings/<%= booking.id %>/edit">Edit Booking</a></td>
  </tr>
  <% end %>
</table>
</div>
