<h2>New Booking</h2>
<form method="POST" action="/bookings">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="member_id">Member:</label>
      <input type="text" name="member_id" id="member_id"/>
    </div>

    <div class="form-el">
      <label for="yogaclass_id">Yoga Class:</label>
      <input type="text" name="yogaclass_id" id="yogaclass_id"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Booking"/>
    </div>

  </div>
</form>
