<h2>New Booking</h2>
<form method="POST" action="/bookings">
  <div class="form-wrapper">

    <div class="form-el">
        <label for="member_id">Select Member:</label>
        <select name="member_id" id="member_select">
          <% @members.each do |member| %>
              <option value=<%= member.id %>><%= member.first_name %></option>
          <% end %>
        </select>
      </div>

    <div class="form-el">
        <label for="yogaclass_id">Select Yoga Class:</label>
        <select name="yogaclass_id" id="yogaclass_select">
          <% @yogaclasses.each do |yogaclass| %>
              <option value=<%= yogaclass.id %>><%= yogaclass.name %></option>
          <% end %>
        </select>
      </div>

    <div class="form-el">
      <input type="submit" value="Add Booking"/>
    </div>

  </div>
</form>
