<p><%= @booking.member.first_name.capitalize %></p>

<p><%= @booking.yogaclass.capitalize %></p>


<!-- <div id="booking_wrapper">
  <% @bookings.each do |booking| %>
  <div class="booking_table">
<p><%= booking.member.first_name %></p>

<p><%= booking.yogaclass.name %></p>
  </div>


</div> -->
