<h4>Bookings</h4>

<div id="booking-wrapper">
  <% @bookings.each do |booking| %>

  <div class="booking">
    <p>Member: <%= booking.member.first_name %></p>
    <p>Yoga Class: <%= booking.yogaclass.name %></p>
    <form action="/bookings/<%= booking.id %>/delete" method="POST">
    <input type="submit" value="Delete Booking"/></form>
  </div>

  <% end %>
</div>
