.btn {
background-color: #92938B;
padding: 8px 10px;
font-family:  "Open sans", sans-serif;
border: solid;
display: block;
margin-top: 10px;
align-items: center;
font-weight: 300;
font-size: 1.2em;
}

.btn:hover {
color: #835F27;
font-family:  "Open sans", sans-serif;
}

.btn-show {
  background-color: #92938B;
  padding: 8px 10px;
  font-family:  "Open sans", sans-serif;
  border: solid;
  margin-left: 25px;
  font-weight: 300;
  font-size: 1.2em;
}

.btn-show:hover {
color: #835F27;
font-family:  "Open sans", sans-serif;
}
