.form {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.form-wrap .form input[type="submit" i] {
align-items: center;
margin-left: auto;
margin-right: auto;
display: block;
font-family: "Open sans", sans-serif;
font-weight: 300;
font-size: 1.2em;
outline: none;
}

.form-wrap .form label {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.drop-down {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #393624;
  background-color: #92938B;
  outline: none;
}

.drop-down:hover {
  color: #835F27;
}

.drop-down option:hover{
  background: #835F27;
}

.drop-down input {
  background: #835F27;
}

.form input {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  outline: none;
}
