.form {
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form-wrap .form input[type="submit" i] {
align-items: center;
margin-left: auto;
margin-right: auto;
display: inline-block;
}

.form-wrap .form label {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#booking-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#instructor-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#yogaclass-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#member-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}
