body {
  background-color: #F0F0F0;
  text-align: center;
}

h1, h2, h3, h4, h6, th, tr {
font-family: "Alegreya", serif;
font-weight: 400;
text-align: center;
color: #393624;
margin-top: 30px;
}

.fancy-title {
font-size: 10.8em;
font-family: "Alegreya", serif;
font-weight: 400;
margin-top: 450px;
margin-bottom: 0;
}

.fancy-title:hover {
    color: #835F27;
}

.yoga-class {
  font-family: "Alegreya", serif;
  font-size: 1.2em;
}

p {
font-family: "Open sans", sans-serif;
font-weight: 300;
font-size: 1.2em;
text-align: center;
}

a, a:link, a:visited {
font-family: "Open sans", sans-serif;
font-weight: 300;
color: #393624;
text-decoration: none;
display: flex;
outline: none;
}

a:hover, a:active, a:focus {
  color: #835F27;
}

nav {
padding: 0;
margin: 0 2px;
text-align: center;
color: #92938B;
display: flex;
justify-content: space-around;
}

nav ul li {
margin-bottom: 5px;
}

.selected {
  background-color: #835F27;
  outline: none;
}

#content {
  align-items: center;
}

#booking-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#instructor-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#yogaclass-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#member-wrap {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}
