body {
  background-color: #F0F0F0;
}

h1, h2, h3, h4, th, tr {
font-family: "Alegreya", serif;
font-weight: 400;
text-align: center;
color: #393624;
}

p a li {
font-family: "Open sans", sans-serif;
font-weight: 300;
font-size: 1.2em;
}

a, a:link, a:visited {
font-family: "Open sans", sans-serif;
font-weight: 300;
color: #393624;
text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #835F27;
}

nav {
padding: 50px;
margin: 50px;
text-align: center;
color: #92938B;
}

nav ul li {
margin-bottom: 15px;
}

li {

}

main {

}

.flex {

}

.flex--row {

}
