<h1> Instructors </h1>
<table>
  <tr>
    <th>Instructor Name:</th>
    <th></th>
    <th>Speciality:</th>
    <th></th>
    <th>Instructor:</th>
  </tr>
  <%for instructor in @instructors %>
  <tr>
    <td><a href="/instructors/<%= instructor.id  %>"><%= instructor.full_name %></td>
    <td>|</td>
    <td><%= instructor.speciality.speciality.capitalize  %></td>
    <td>|</td>
    <td><a href="/instructors/<%= instructor.id %>/edit">Edit Instructor</a></td>
  </tr>
  <% end %>
</table>
