<table>
  <tr>
    <th>Instructor Number:</th>
    <th></th>
    <th>Instructor Name:</th>
    <th></th>
    <th>Speciality:</th>
  </tr>
  <%for instructor in @instructors %>
  <tr>
    <td> <a href="/instructors/<%= instructor.id  %>"><%= instructor.id  %></a> </td>
    <td>|</td>
    <td><%= instructor.first_name.capitalize  %></td>
    <td>|</td>
    <td><%= instructor.speciality.speciality.capitalize  %></td>
  </tr>
  <% end %>
</table>
