<h2>New Instructor</h2>
<form method="POST" action="/instructors">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>

    <div class="form-el">
        <label for="speciality">Speciality:</label>
        <select name="speciality_id" id="speciality">
          <% @instructors.each do |instructor|%>

              <option value=<%= instructor.speciality_id %>><%= instructor.speciality.speciality.capitalize %></option>
          <% end %>
        </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Instructor"/>
    </div>

  </div>
</form>
