<h4>Instructors</h4>

<div id="instructor-wrap">
  <% @instructors.each do |instructor| %>

  <div class="instructor">
    <h3><%= instructor.full_name %></h3>
    <p>Speciality: <%= instructor.speciality.speciality_type.capitalize %></p>
    <form action="/instructors/<%= instructor.id %>/delete" method="POST">
    <input type="submit" value="Delete Instructor"></form>
  </div>
  <% end %>
</div>
