<h2>Instructors</h2>

<div id="instructor-wrap">
  <% @instructors.each do |instructor| %>

    <h3><%= instructor.full_name %></h3>
    <p>Speciality: <%= instructor.speciality.speciality_type.capitalize %></p>
    <form action="/instructors/<%= instructor.id %>/delete" method="POST">
    <input class="btn-show" type="submit" value="Delete Instructor"></form>
  <% end %>
</div>
